In [19]:
from sqlalchemy import create_engine, inspect
from datetime import date
import psycopg2
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
import sqlalchemy
from sqlalchemy import Column, Integer, String, Float, Date, Numeric
import pandas as pd

In [20]:
conn_string = "host='localhost' dbname='Avocado_db' user='postgres' password='postgre'"
conn = psycopg2.connect(conn_string)
engine = create_engine('postgresql://postgres:postgre@localhost/Avocado_db')

In [21]:
inspector = inspect(engine)
inspector.get_table_names()
session = Session(engine)

In [22]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['avocados', 'calicli', 'calisales']

In [23]:
avocados = Base.classes.avocados
calicli = Base.classes.calicli
calisales = Base.classes.calisales

In [24]:
columns = inspector.get_columns('avocados')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
sale_date DATE
average_price NUMERIC(3, 2)
total_volume NUMERIC(12, 4)
type CHAR(12)
year INTEGER
geography VARCHAR(30)

In [25]:
columns = inspector.get_columns('calicli')
for c in columns:
    print(c['name'], c["type"])

record_date INTEGER
value NUMERIC
anomally NUMERIC(3, 2)

In [26]:
class avocados(Base):
    __tablename__ = 'avocados'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    sale_date = Column(Date)
    average_price = Column(Numeric(3,2))
    total_volume = Column(Numeric(12,4))
    type = Column(String)
    year = Column(Integer)
    geography = Column(String)

In [38]:
class caliclimate(Base):
    __tablename__ = 'calicli'
    __table_args__ = {'extend_existing': True}
    record_date = Column(Integer, primary_key=True)
    value = Column(Numeric)
    anomaly = Column(Numeric(3,2))

C:\Users\matth\anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:125: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.caliclimate, and will be replaced in the string-lookup table.
  util.warn(

In [28]:
class calisales(Base):
    __tablename__ = 'calisales'
    __table_args__ = {'extend_existing': True}
    date = Column(Integer, primary_key=True)
    average_price_organic = Column(Numeric(10,2))
    average_price_conventional = Column(Numeric(10,2))
    total_volume_organic = Column(Numeric(20,4))
    total_volume_conventional = Column(Numeric(20,4))
    value = Column(Numeric)

In [40]:
avocado_file = "avocado2020_THIS1.csv"
avocado_df = pd.read_csv(avocado_file, parse_dates=['sale_date'])
#avocado_df.head()
#avocado_df.dtypes
#avocado_dt.head()

In [41]:
calicli_file = "CaliforniaClimate.csv.csv"
calicli_df = pd.read_csv(calicli_file)
calicli_df.head()

#calicli_df.dtypes

   record_date  value  anomaly
0       201501   48.6      6.3
1       201502   53.2      7.9
2       201503   56.9      8.1
3       201504   56.7      2.7
4       201505   60.8      0.1

In [42]:
avocado_df.to_sql(name='avocados', con=engine, if_exists='append', index=False)

In [43]:
calicli_df.to_sql(name='calicli', con=engine, if_exists='append', index=False)