In [1]:
from sqlalchemy import create_engine, inspect
from datetime import date
import psycopg2
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
import sqlalchemy
from sqlalchemy import Column, Integer, String, Float, Date, Numeric
import pandas as pd

In [2]:
#Connecting to our postgres database
conn_string = "host='localhost' dbname='Avocado_db' user='postgres' password='postgre'"
conn = psycopg2.connect(conn_string)
engine = create_engine('postgresql://postgres:postgre@localhost/Avocado_db')

In [3]:
inspector = inspect(engine)
inspector.get_table_names()
session = Session(engine)

In [4]:
#checking status of our tables
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['avocados', 'calicli', 'calisales']

In [5]:
avocados = Base.classes.avocados
calicli = Base.classes.calicli
calisales = Base.classes.calisales

In [6]:
#viewing tables
columns = inspector.get_columns('avocados')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
sale_date DATE
average_price NUMERIC(3, 2)
total_volume NUMERIC(12, 4)
type CHAR(12)
year INTEGER
geography VARCHAR(30)

In [7]:
columns = inspector.get_columns('calicli')
for c in columns:
    print(c['name'], c["type"])

record_date INTEGER
value NUMERIC
anomaly NUMERIC(3, 2)

In [8]:
#creating tables
class avocados(Base):
    __tablename__ = 'avocados'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    sale_date = Column(Date)
    average_price = Column(Numeric(3,2))
    total_volume = Column(Numeric(12,4))
    type = Column(String)
    year = Column(Integer)
    geography = Column(String)

In [9]:
class caliclimate(Base):
    __tablename__ = 'calicli'
    __table_args__ = {'extend_existing': True}
    record_date = Column(Integer, primary_key=True)
    value = Column(Numeric)
    anomaly = Column(Numeric(3,2))

In [10]:
class calisales(Base):
    __tablename__ = 'calisales'
    __table_args__ = {'extend_existing': True}
    date = Column(Integer, primary_key=True)
    average_price_organic = Column(Numeric(10,2))
    average_price_conventional = Column(Numeric(10,2))
    total_volume_organic = Column(Numeric(20,4))
    total_volume_conventional = Column(Numeric(20,4))
    value = Column(Numeric)

In [14]:
#uplaoding csv to a panda df
avocado_file = "avocado2020_THIS1.csv"
avocado_df = pd.read_csv(avocado_file, parse_dates=['sale_date'])
avocado_df.head()
#avocado_df.dtypes

,id,sale_date,average_price,total_volume,type,year,geography
0,0,2015-01-04,1.22,40873.28,conventional,2015,Albany
1,1,2015-01-04,1.79,1373.95,organic,2015,Albany
2,2,2015-01-04,1.00,435021.49,conventional,2015,Atlanta
3,3,2015-01-04,1.76,3846.69,organic,2015,Atlanta
4,4,2015-01-04,1.08,788025.06,conventional,2015,Baltimore/Washington

In [15]:
calicli_file = "CaliforniaClimate.csv.csv"
calicli_df = pd.read_csv(calicli_file)
calicli_df.head()
#calicli_df.dtypes

   record_date  value  anomaly
0       201501   48.6      6.3
1       201502   53.2      7.9
2       201503   56.9      8.1
3       201504   56.7      2.7
4       201505   60.8      0.1

In [42]:
#importing our csv-containing-df to sql
avocado_df.to_sql(name='avocados', con=engine, if_exists='append', index=False)

In [43]:
calicli_df.to_sql(name='calicli', con=engine, if_exists='append', index=False)